<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="particles-js">

    <nav class="navbar" id="navbar">
      <div class="container">
        {{!-- navbar-brand mobile size --}}
        <div class="navbar-brand">
          <a class="navbar-item" href='/'>
            <h2 class="title is-5">LOGO</h2>
          </a>
          <span class="navbar-burger burger" data-target="navMenu">
            {{# if currentUserId}}
            <div class="dropdown is-right">
              <div class="dropdown-trigger">
                <div class="icon is-large">
                  <i class="fas fa-user fa-2x"></i>
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </div>
              </div>

              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <p>{{username}}</p>
                  </div>
                  <hr class="dropdown-divider">
                    <a href="/logout" class="navbar-item">Log out</a>
                </div>
            </div>
            {{else}} 
            {{/if}}
          </span>
          </div>
        </div>
        {{!-- desktop size  --}}
        {{# if currentUserId}}
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
              <div class="dropdown is-right">
                <div class="dropdown-trigger">
                  <div class="icon is-large">
                    <i class="fas fa-user fa-2x"></i>
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </div>
                </div>
              
                <div class="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <div>{{username}}</div>
                    </div>
                    <hr class="dropdown-divider">
                    <a href="/logout" class="navbar-item">Log out</a>
                  </div>
                </div>
              </div>
        {{else}} 
              {{!-- <a href="/login" class="navbar-item">Log in</a> --}}
            {{/if}}
          </div>
        </div>
      </div>
    </nav>
    <div id="particles-js">

    {{{body}}}
    </div>

    <script src='/javascripts/chat.js'></script>
    <script src='/javascripts/index.js'></script>
    <script type="text/javascript" src="/javascripts/particles.min.js"></script>
    <script type="text/javascript" src="/javascripts/particlesjs-config.json"></script> 
  </body>
</html>
